* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

}

#img {
    width: 300px;
    height: 400px;
}

#mydogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

#btn {
    padding: 10px;
    margin-top: 18px;
    width: 300px;
    font-size: 15px;
    color: black;
    text-decoration: none;

}
@media (max-width: 600px){
    #mydogs{
        margin-top: 10%;
    }
}